= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css'

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"

= javascript_include_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js"
= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css"
= render partial: '/layouts/titlebar'


.space-form
  .space-form__tabs
    %a.space-form__tab{href:space_user_spaces_path(@space)} Collaborators
    .space-form__tab.space-form__tab--active  Details
  .space-form__details
    = form_for @space, url: space_path(@space), method: :put do |f|
      .space-form__field
        %label.space-form__label
          Name of this Space:
        .space-form__input
          = f.text_field :name

      .space-form__field
        %label.space-form__label
          Tagline for this Space:
        .space-form__input
          = f.text_field :tagline

      .space-form__field
        %label.space-form__label
          Published
        .space-form__checkbox
          %label
            = f.check_box :published
            Make this space visible to non-collaborators

      .space-form__field
        %label.space-form__label
          Locked 
        .space-form__checkbox
          %label
            = f.check_box :locked
            Lock editing this space for Collaborators who are not admins


      .space-form__field
        %label.space-form__label
          Icon 
        .space-form__input
          = f.file_field :icon
          = image_tag(@space.icon, width: 64) if @space.icon.present?


      .space-form__field
        %label.space-form__label
          Location
        .space-form__input
          = react_component("map_picker", { accessToken: ENV['MAPBOX'], radius: @space.radius, latitude: @space.latitude, longitude: @space.longitude })

      .space-form__submit
        = f.submit :save, class: "button"

.space-form
  .space-form__tabs.space-form__tabs--danger
    .space-form__tab Danger Zone
  .space-details
    %p Warning: Deleting a space is permanent and irreversible. You will lose all of your pieces.
    = link_to "Delete this space", space_path(@space), data: { method: 'delete', confirm: 'Are you sure you want to delete this space and all the pieces in it permanently?'}, class: 'button button--danger'
