
= render partial: '/layouts/titlebar'



.homepage
  .homepage__logo
    = image_tag("cabin-logo.svg", class:"homepage__logo-image")
    CabinAR
  .homepage__text
    %p CabinAR allows you to make and share web-based augmented reality. To get started, create a new Space. Spaces are tied to a specific location, and deliver your creations to audiences using the CabinAR mobile application, available for IOS. CabinAR is built using A-frame and ARKit. 

  .homepage__links
    - if current_user
      %a.homepage__link{href: spaces_path}
        Go To My Spaces
    - else
      %a.homepage__link{href: user_google_oauth2_omniauth_authorize_path}
        Sign in with Google


      .homepage__or
        Or Sign In

      .homepage__signin-form
        = form_tag session_path(:user) do
          .homepage__signin-field
            = text_field_tag 'user[email]', "",placeholder:"Email"
          .homepage__signin-field
            = password_field_tag 'user[password]', "",placeholder:"password"
          .homepage__signin-field
            = check_box_tag 'user[remember_me]'
            = label_tag 'user[remember_me]', 'Remember me'
          %button Sign in
          = link_to "Create an account", new_user_registration_path

.homepage__footer
  Please contact 
  = mail_to "cabinar@cykod.com" 
  for support.
  = "|"
  = link_to "Privacy Policy", privacy_policy_path

