
= render partial: '/layouts/titlebar'



.homepage
  .homepage__head
    .homepage__header
      Make and share web-based augmented reality.
    .homepage__text
      %p  CabinAR is an free, web-based application that allows you to make and share marker-based augmented reality. Create an account to use the online editor and build original content.  
    - if current_user
      %a.homepage__link{href: spaces_path}
        Go To My Spaces
    - else
      %a.homepage__link{href: user_google_oauth2_omniauth_authorize_path}
        Sign in with Google
      %a.homepage__small-link{href:"javascript:toggleSignIn()"}
        Sign In or Sign up
    
    %p Download the mobile app to preview your creations and share them with your friends.
    %p CabinAR is built using A-frame and ARKit.
    
    .homepage_app  
      %a{href:"https://apps.apple.com/us/app/cabinar/id1465457047"}= image_tag("app-store-badge-white.svg", class:"homepage__app-image")
      %a{href:"https://play.google.com/store/apps/details?id=com.cykod.cabinar&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}= image_tag("play-store-badge.png", class:"homepage__app-image")

  .homepage_image  
    = image_tag("iphone-mockup.jpg", class:"homepage__logo-image")

.modal-overlay#modal-overlay{style:'display:none',onClick:'toggleSignIn()'}
.homepage__signin#signinForm{style:"display:none;"}
  .homepage__signin-guts
    .homepage__signin-title
      Sign In

    .homepage__signin-form
      = form_tag session_path(:user) do
        .homepage__signin-field
          = text_field_tag 'user[email]', "",placeholder:"Email"
        .homepage__signin-field
          = password_field_tag 'user[password]', "",placeholder:"password"
        .homepage__signin-field
          = check_box_tag 'user[remember_me]'
          = label_tag 'user[remember_me]', 'Remember me'
        %button Sign in
        = link_to "Create an account", new_user_registration_path

.homepage__footer
  Please contact 
  = mail_to "cabinar@cykod.com" 
  for support.
  = "|"
  = link_to "Privacy Policy & Terms of Use", privacy_policy_path
  %br
  App Store and the Apple logo are trademarks of Apple Inc. Google Play and the Google Play logo are trademarks of Google LLC.

:javascript
   var visible = false;
  function toggleSignIn() {
    visible = !visible;
    document.getElementById("signinForm").style.display= visible ? 'block' : 'none'
    document.getElementById("modal-overlay").style.display= visible ? 'block' : 'none'
  }
