!!!
%html
  %head
    %title CabinAR
    = csrf_meta_tags 
    = csp_meta_tag 
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = yield
