!!!
%html
  %head
    %title CabinAR
    = csrf_meta_tags 
    = csp_meta_tag 
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = yield
